<div class="row">
  <div class="col-12">
    <div class="card text-start">
      <%= show_events([@event], {event_state: "single", display_type: "single"})%>
    </div>
  </div>
</div>
<div class="mt-5 mb-4 text-center">
  <h4 class="fw-bold">Event Attendees</h4>
  <p class="fw-normal text-warning bg-dark p-2 d-inline-block rounded"><%= @event.attendees.count%><%= @event.attendees.count == 1 ? ' person' : ' people'%> will be atteding this event</p>
</div>
<div class="row">
  <% @event.attendees.each do |attendee| %>
    <div class="col-4">
      <%= link_to user_path(attendee) do %>
        <div class="card hover">
          <div class="box">
            <div class="img mb-2">
              <img src="https://avatars.dicebear.com/api/micah/<%= attendee.username %>.svg" alt="<%= attendee.fullname %>" />
            </div>
            <h5 class="fw-bold mb-0"><%= attendee.fullname %></h5>
            <div class="d-flex flex-column text-center justify-content-center align-content-center">
              <span class="d-block mb-2 subtitle"><%= @event.creator.id == attendee.id ? 'Event Organizer' : 'Attendee'  %></span>
              <span class="d-block mb-2">@<%= attendee.username %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%end%>
</div>
