<div class="text-center mb-3">
  <h3>Log in</h3>
</div>
<div class="row">
  <div class="col-8 m-auto">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :username, label: 'Username', required: false, autofocus: true, input_html: { autocomplete: "username", class: 'form-control' }, wrapper_html: { class: 'mb-3 position-relative' } %>
      <%= f.input :password, label: 'Password', required: false, input_html: { autocomplete: "current-password", class: 'form-control' }, wrapper_html: { class: 'mb-3 position-relative' } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Log in", class: 'w-100 btn btn-primary' %>
    <% end %>
    <div class="form-actions d-flex flex-column mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
